//
// Spotlight component stories.
//

.row.spotlight,
.row.spotlight .last-row-grid {
  display: grid;
  gap: 40px 10px;

  .col {
    padding: 0;

    .story-placeholder {
      display: block;
      height: 100%;
    }
  }
}
