{#
/**
 * @file
 * Theme implementation to display the Hero component.
 *
 * For the article variant the meta line (date and read time) and the tag list
 * are assembled from the parent post in the paragraph preprocess.
 */
#}
{% set has_date = article_date is defined and article_date is not empty and article_date_iso is defined and article_date_iso is not empty %}
{% set has_read_time = read_time is defined and read_time is not empty %}
{% set has_tags = article_tags is defined and article_tags is not empty %}

{% set meta_slot %}
  {%- if has_date -%}<time datetime="{{ article_date_iso }}">{{ article_date }}</time>{%- endif -%}
  {%- if has_date and has_read_time -%}<span class="component-hero__meta-sep" aria-hidden="true"> / </span>{%- endif -%}
  {%- if has_read_time -%}<span>{{ read_time }}</span>{%- endif -%}
{% endset %}

{% set tags_slot %}
  {% if has_tags %}{% include 'civictheme:tag-list' with { theme: theme, tags: article_tags } only %}{% endif %}
{% endset %}

{{ include('drevops:hero', {
  theme: theme,
  type: type,
  background_image: background_image,
  actions: actions,
  eyebrow: eyebrow,
  heading: title,
  lead: lead,
  meta: has_date or has_read_time ? meta_slot : null,
  tags: has_tags ? tags_slot : null,
  attributes: component_attributes,
}, with_context: false) }}
