//
// CivicTheme Header component styles.
//

.ct-header {
  $root: &;

  border-bottom: solid ct-particle(0.125);

  // Custom: Add sticky header support with fixed positioning.
  &--sticky {
    position: fixed;
    width: 100%;
    z-index: $ct-header-sticky-zindex;
  }

  &__top {
    padding-top: ct-spacing();
    padding-bottom: ct-spacing();
  }

  &__content-top2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-top3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__middle {
    padding-top: ct-spacing(2);
    padding-bottom: ct-spacing(2);
  }

  &__content-middle2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-middle3 {
    @include ct-print-hide();

    // Custom: Remove unnecessary wrapper for flexbox properties.
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .ct-navigation {
      $root-drawer: '.ct-navigation';

      &#{$root-drawer}--drawer {
        order: 2;
      }
    }
  }

  &__content-bottom1 {
    display: flex;
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, border-color);
    @include ct-component-property($root, $theme, background-color);

    #{$root}__top {
      @include ct-component-property($root, $theme, top, background-color);
      @include ct-component-property($root, $theme, top, color);
    }

    #{$root}__middle {
      @include ct-component-property($root, $theme, middle, background-color);
      @include ct-component-property($root, $theme, middle, border-color);
    }

    // Custom: Add sticky header transparency and blur effects.
    &#{$root}--sticky {
      background-color: transparent;

      #{$root}__top {
        background-color: color-mix(in srgb, ct-component-var($root, $theme, top, background-color) 80%, transparent);
      }

      #{$root}__middle {
        background-color: color-mix(in srgb, ct-component-var($root, $theme, background-color) 80%, transparent);

        @include ct-breakpoint($ct-mobile-navigation-breakpoint) {
          backdrop-filter: blur(0.5rem);
        }
      }
    }
  }
}
