//
// Custom components variables overrides.
//
// CivicTheme variables can be found in
// <path/to/civictheme>/components/00-base/_variables.components.scss
//
// stylelint-disable scss/dollar-variable-pattern

// Example to override component's variable - Back to Top should have a
// 'custom1' colour background.
$ct-back-to-top-light-background-color: ct-color-light('custom1');

//
// Divider.
//
$ct-divider-light-background-color: ct-color-light('background-light') !default;
$ct-divider-dark-background-color: ct-color-dark('background') !default;
$ct-divider-light-border-color: ct-color-light('border-light') !default;
$ct-divider-dark-border-color: ct-color-dark('border') !default;

//
// Banner.
//
$ct-banner-intro-min-height: 50vh !default;
$ct-banner-decorative-mobile-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{ct-spacing(2)}), 0% 100%) !default;
$ct-banner-decorative-desktop-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{ct-spacing(6)}), 0% 100%) !default;
$ct-banner-featured-image-width: 40% !default;
$ct-banner-featured-image-clip-path: polygon(13% 10%, 100% 0, 100% 100%, 0% 100%) !default;
$ct-banner-light-background-color: ct-color-light('background') !default;
$ct-banner-light-featured-image-shadow-color: ct-color-light('background-light') !default;
$ct-banner-dark-background-color: ct-color-dark('background') !default;
$ct-banner-dark-featured-image-shadow-color: ct-color-dark('background') !default;
