//
// Custom components variables overrides.
//
// CivicTheme variables can be found in
// <path/to/civictheme>/components/00-base/_variables.components.scss
//
// stylelint-disable scss/dollar-variable-pattern

$ct-spacing-sizes: () !default;
$ct-spacing-sizes-default: (
  'xxs': (
    0: 0,
    1: ct-particle(1),
    2: ct-particle(2),
    3: ct-particle(3),
    4: ct-particle(4),
    5: ct-particle(5),
    'auto': unset,
  ),
  's': (
    0: 0,
    1: ct-particle(2),
    2: ct-particle(4),
    3: ct-particle(6),
    4: ct-particle(8),
    5: ct-particle(10),
    'auto': unset,
  ),
  'm': (
    0: 0,
    1: ct-particle(3),
    2: ct-particle(6),
    3: ct-particle(9),
    4: ct-particle(12),
    5: ct-particle(15),
    'auto': unset,
  ),
  'l': (
    0: 0,
    1: ct-particle(4),
    2: ct-particle(8),
    3: ct-particle(12),
    4: ct-particle(16),
    5: ct-particle(20),
    'auto': unset,
  ),
  'xl': (
    0: 0,
    1: ct-particle(5),
    2: ct-particle(10),
    3: ct-particle(15),
    4: ct-particle(20),
    5: ct-particle(25),
    'auto': unset,
  ),
) !default;

// Configuration flag to control if !important will be used with spacing utilities.
$ct-spacing-use-important: true !default;

// Additional spacing sizes.
$ct-icon-sizes: (
  'large': (
    'xxs': (ct-particle-px(3.5), ct-particle-px(3.5)),
    'm': (ct-particle-px(3.5), ct-particle-px(3.5)),
  ),
);

// Example to override component's variable - Back to Top should have a
// 'custom1' colour background.
$ct-back-to-top-light-background-color: ct-color-light('custom1');

//
// Banner.
//
$ct-banner-intro-min-height: 50vh !default;
$ct-banner-decorative-mobile-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{ct-spacing(2)}), 0% 100%) !default;
$ct-banner-decorative-desktop-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{ct-spacing(6)}), 0% 100%) !default;
$ct-banner-featured-image-width: 40% !default;
$ct-banner-featured-image-clip-path: polygon(13% 10%, 100% 0, 100% 100%, 0% 100%) !default;
$ct-banner-offset: ct-particle(11);
$ct-banner-offset-xxs: ct-particle(10);
$ct-banner-light-background-color: ct-color-light('background') !default;
$ct-banner-light-featured-image-shadow-color: ct-color-light('background-light') !default;
$ct-banner-dark-background-color: ct-color-dark('background') !default;
$ct-banner-dark-featured-image-shadow-color: ct-color-dark('background') !default;

//
// Divider.
//
$ct-divider-size-mapping: (
  'xxs': (
    'small': ct-particle(4),
    'regular': ct-particle(8),
    'large': ct-particle(12)
  ),
  's': (
    'small': ct-particle(6),
    'regular': ct-particle(11),
    'large': ct-particle(17)
  ),
  'm': (
    'small': ct-particle(7),
    'regular': ct-particle(14),
    'large': ct-particle(21)
  ),
  'l': (
    'small': ct-particle(10),
    'regular': ct-particle(20),
    'large': ct-particle(30)
  ),
);
$ct-divider-light-background-color: ct-color-light('background-light');
$ct-divider-dark-background-color: ct-color-dark('background');
$ct-divider-light-border-color: transparent;
$ct-divider-dark-border-color: transparent;

//
// Header.
//

$ct-header-sticky-zindex: 500;
