//
// Custom base variables overrides.
//
// CivicTheme variables can be found in
// <path/to/civictheme>/components/00-base/_variables.base.scss
//
// Variables values in this file cannot be based on any variables
// in _variables.base.scss
//
// stylelint-disable scss/dollar-variable-pattern

// Example to override existing CivicTheme's palette color and define
// custom colors, which will automatically appear in Storybook.

$ct-colors-brands: (
  'light': (
    'brand1': #00698f,
    'brand2': #e6e9eb,
    'brand3': #121313,
  ),
  'dark': (
    'brand1': #61daff,
    'brand2': #003a4f,
    'brand3': #00698f,
  )
);

// Example to override existing CivicTheme's palette color variants.
$ct-colors: (
  // Override palette color variant.
  'light': (
    'success': green,
    'custom1': brown,
  ),
  'dark': (
    'custom1': red,
    'custom2': orange,
    'custom3': blue,
  ),
);

// Example to define 2 custom local fonts which will automatically appear
// in Storybook.
$ct-fonts: (
  'secondary': (
    'family': 'Rubik, sans-serif',
    'types': (
      (
        'uri': 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap',
      ),
    ),
  ),
  'tertiary': (
    'family': 'Roboto, sans-serif',
    'types': (
      (
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Regular.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Regular.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Regular.eot',
        ),
      ),
      (
        'italic': true,
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Italic.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Italic.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Italic.eot',
        ),
      ),
      (
        'weight': 'bold',
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Bold.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Bold.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Bold.eot',
        ),
      ),
      (
        'italic': true,
        'weight': 'bold',
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-BoldItalic.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-BoldItalic.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-BoldItalic.eot',
        ),
      ),
      (
        'weight': 300,
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Thin.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Thin.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Thin.eot',
        ),
      ),
      (
        'weight': 700,
        'uri': (
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Black.ttf',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Black.woff',
          '#{$ct-assets-directory}fonts/Roboto/Roboto-Black.eot',
        ),
      ),
    ),
  ),
  'quartary': (
    'family': '"Dancing Script", serif',
    'types': (
      (
        'uri': (
          '#{$ct-assets-directory}fonts/DancingScript/DancingScript-Regular.ttf',
          '#{$ct-assets-directory}fonts/DancingScript/DancingScript-Regular.woff',
          '#{$ct-assets-directory}fonts/DancingScript/DancingScript-Regular.woff2',
        ),
      ),
    ),
  ),
);
$ct-particle: 8px;

// Base font sizes defined in CivicTheme base variables.
$ct-font-base-size: $ct-particle * 2;
$ct-font-base-line-height: $ct-font-base-size;
$ct-typography: (
  'display-large': (
    'xxs': ($ct-font-base-size * 3, $ct-font-base-line-height * 3.5, 'bold', 'primary', -0.6px),
    'm': ($ct-font-base-size * 4, $ct-font-base-line-height * 4.75, 'bold', 'primary', -1px)
  ),
  // Text.
  'text-extra-large': (
    'xxs': ($ct-font-base-size * 1.25, $ct-font-base-line-height * 1.5, 'regular', 'secondary', -0.1px),
    'm': ($ct-font-base-size * 1.5, $ct-font-base-line-height * 1.5, 'regular', 'secondary', 0)
  ),
  'text-large': (
    'xxs': ($ct-font-base-size * 1.125, $ct-font-base-line-height * 1.75, 'regular', 'secondary', 0),
    'm': ($ct-font-base-size * 1.25, $ct-font-base-line-height * 2.125, 'regular', 'secondary', 0)
  ),
  'text-regular': (
    'xxs': ($ct-font-base-size, $ct-font-base-line-height * 1.75, 'regular', 'secondary', 0),
    'm': ($ct-font-base-size, $ct-font-base-line-height * 1.75, 'regular', 'secondary', 0)
  ),
  'text-small': (
    'xxs': ($ct-font-base-size * 0.75, $ct-font-base-line-height * 1.25, 'regular', 'secondary', 0),
    'm': ($ct-font-base-size * 0.875, $ct-font-base-line-height * 1.5, 'regular', 'secondary', 0),
  ),
  // Special elements.
  'quote': (
    'xxs': ($ct-font-base-size * 1.125, $ct-font-base-line-height * 1.815, 'regular', 'secondary', -0.15px),
    'm': ($ct-font-base-size * 1.5, $ct-font-base-size * 2.5, 'regular', 'secondary', -0.35px)
  ),
);
