//
// Divider component.
//

.ct-divider {
  $root: &;

  .container {
    height: 100%;
  }

  #{$root}__image {
    @include ct-image-fit();
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);
  }
}
