{#
/**
 * @file
 * Divider component.
 *
 * Variables:
 * - image: [object] Image object:
 *   - url: [string] Image URL.
 *   - alt: [string] Image alt text.
 * - theme: [string] Theme: light, dark.
 * - size: [string] Size of the divider. Large, regular, small.
 * - alignment: [string] Left, right, center.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set size_class = size ? 'ct-size--%s'|format(size) : '' %}
{% set alignment_class = alignment ? 'ct-text-align-%s'|format(alignment) : '' %}
{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing-inset--%s'|format(vertical_spacing) : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, vertical_spacing_class, size_class, alignment_class, modifier_class|default('')) %}

<div class="ct-divider {{ modifier_class -}}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
  <div class="container">
    {% block image %}
      {% if image is not empty %}
        <div class="ct-divider__image">
          {% include '@atoms/image/image.twig' with {
            theme: theme,
            url: image.url,
            alt: image.alt,
          } only %}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div>
