//
// Banner component.
//

.ct-banner {
  $root: &;

  position: relative;

  #{$root}__wrapper {
    position: relative;
  }

  #{$root}__inner {
    @include ct-background();

    padding-top: ct-spacing(3);
    padding-bottom: ct-spacing(10);

    @include ct-print() {
      padding-top: ct-spacing(2);
      padding-bottom: ct-spacing(3);
    }
  }

  #{$root}__content-below {
    margin-top: ct-spacing(2);
  }

  #{$root}__featured-image__wrapper {
    @include ct-image-fit();

    box-sizing: border-box;
    width: $ct-banner-featured-image-width;
    display: none;

    @include ct-breakpoint($ct-grid-responsive-breakpoint) {
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }

  &#{$root}--decorative {
    #{$root}__inner {
      clip-path: $ct-banner-decorative-mobile-clip-path;

      @include ct-breakpoint($ct-grid-responsive-breakpoint) {
        padding-top: ct-spacing(8);
        padding-bottom: ct-spacing(8);
        clip-path: $ct-banner-decorative-desktop-clip-path;
      }

      @include ct-print() {
        padding-top: ct-spacing(2);
        padding-bottom: ct-spacing(3);
      }
    }

    #{$root}__content-below {
      margin-top: -1 * ct-spacing(2);
    }

    #{$root}__featured-image__wrapper {
      @include ct-breakpoint($ct-grid-responsive-breakpoint) {
        bottom: 0;
        top: auto;
        height: 100%;
        max-height: ct-particle(75);
        padding-top: ct-spacing(8);
      }
    }

    #{$root}__featured-image {
      @if $ct-banner-featured-image-clip-path != false {
        clip-path: $ct-banner-featured-image-clip-path;
      }
    }
  }

  &#{$root}--with-offset {
    #{$root}__inner {
      padding-top: ct-spacing(3) + $ct-banner-offset-xxs;

      @include ct-breakpoint($ct-grid-responsive-breakpoint) {
        padding-top: ct-spacing(8) + $ct-banner-offset;
      }
    }

    &#{$root}--decorative {
      #{$root}__inner {
        @include ct-breakpoint($ct-grid-responsive-breakpoint) {
          padding-top: ct-spacing(8) + $ct-banner-offset;
        }
      }
    }
  }

  #{$root}__breadcrumb {
    margin-bottom: ct-spacing(4);

    @include ct-breakpoint($ct-grid-responsive-breakpoint) {
      margin-bottom: ct-spacing(6);
    }
  }

  #{$root}__site-section {
    margin-bottom: ct-spacing(2);
  }

  #{$root}__title {
    margin-bottom: ct-spacing(2);

    @include ct-breakpoint($ct-grid-responsive-breakpoint) {
      margin-bottom: ct-spacing(3);
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    #{$root}__inner {
      @include ct-component-property($root, $theme, background-color);
    }

    &#{$root}--decorative {
      #{$root}__featured-image__wrapper {
        @include ct-breakpoint($ct-grid-responsive-breakpoint) {
          @include ct-image-shadow(ct-component-var($root, $theme, featured-image, shadow-color), 'up-left');
        }
      }
    }
  }

  &.ct-banner-type--intro {
    .ct-banner__inner {
      min-height: $ct-banner-intro-min-height;
      display: flex;
      align-items: center;
      text-align: center;
      padding-top: ct-spacing(3);
      padding-bottom: ct-spacing(3);

      @include ct-breakpoint($ct-grid-responsive-breakpoint) {
        padding-top: ct-spacing(8);
        padding-bottom: ct-spacing(8);
      }
    }

    &#{$root}--with-offset {
      #{$root}__inner {
        padding-top: ct-spacing(3) + $ct-banner-offset-xxs;

        @include ct-breakpoint($ct-grid-responsive-breakpoint) {
          padding-top: ct-spacing(8) + $ct-banner-offset;
        }
      }
    }

    .ct-banner__title {
      @include ct-typography('display-large');
    }
  }
}
